<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pear.dao.EmployeeDao">
    <select id="selectEmpById" resultType="cn.pear.bean.Employee">
        SELECT * FROM t_employee WHERE id = #{id};
    </select>

    <insert id="insertEmp" parameterType="cn.pear.bean.Employee">
        INSERT into t_employee VALUES(NULL,#{empName},#{gender},#{email});
    </insert>

    <update id="updateEmpById" parameterType="cn.pear.bean.Employee">
        UPDATE t_employee SET empname=#{empName} WHERE id=#{id};
    </update>

    <delete id="deleteEmpById" parameterType="int">
        DELETE FROM t_employee WHERE id=#{id};
    </delete>
</mapper>
